In [ ]:
!pip install mysqlclient

In [1]:
import mysql.connector as conn

db = conn.connect(
    host="localhost", user="root", password="",
)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x000001A4C396BA30>

In [2]:
db.close()

In [7]:
def connect(host="localhost", user="root", password="", db_name=""):
    if db_name != "":
        db = conn.connect(
            host=host, user=user, password=password, database=db_name
        )
        return db
    else:
        db = conn.connect(
            host=host, user=user, password=password
        )
        return db

In [9]:
connect()

In [4]:
def create_database(db_name):
    try:
        db = connect()
        cursor = db.cursor()
        query = "CREATE DATABASE "+ db_name
        cursor.execute(query)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [5]:
create_database('employee')

In [8]:
def create_table(db_name, table_name):
    try:
        db = connect(db_name=db_name)
        cursor = db.cursor()
        query = "CREATE TABLE "+ table_name +"(id integer primary key auto_increment, name varchar(255), dept varchar(255))"
        cursor.execute(query)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [9]:
create_table('employee', 'emp_info')

In [10]:
def insert_data(db_name, table_name, name, dept):
    try:
        db = connect(db_name=db_name)
        cursor = db.cursor()
        query = "INSERT INTO "+ table_name +"(id , name, dept) VALUES(0, %s, %s)"
        values = (name, dept)
        cursor.execute(query, values)
        db.commit()
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [13]:
def fetch_data(db_name, table_name):
    try:
        db = connect(db_name=db_name)
        cursor = db.cursor()
        query = "SELECT * FROM "+ table_name
        cursor.execute(query)
        res = cursor.fetchall()
        for i in res:
            print(i)
        cursor.close()
        db.close()
    except Exception as e:
        print(e)

In [14]:
insert_data('employee', 'emp_info', "Shamim", "CSE")
fetch_data('employee', 'emp_info')

(1, 'Shamim', 'CSE')
(2, 'Shamim', 'CSE')