In [1]:
import pandas as pd 
import numpy as np

In [2]:
data=pd.read_csv("googleplaystore.csv")
data.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [3]:
data.shape

(10841, 13)

In [4]:
data.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [6]:
data.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
data.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [8]:
data.sample()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9156,TETRIS Blitz,FAMILY,4.4,201631,96M,"5,000,000+",Free,0,Everyone,Puzzle,"June 1, 2018",4.4.4,4.1 and up

In [9]:
data.drop_duplicates(keep='first',inplace=True)

In [10]:
data.shape

(10358, 13)

In [11]:
data.tail(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [12]:
data.drop(columns='App',axis=1,inplace=True)

In [13]:
data.sample()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
3969,TOOLS,4.3,668,13M,"50,000+",Free,0,Everyone,Tools,"March 31, 2016",2.1.8,2.1 and up

In [14]:
data['Category'].value_counts()

FAMILY                 1943
GAME                   1121
TOOLS                   843
BUSINESS                427
MEDICAL                 408
PRODUCTIVITY            407
PERSONALIZATION         388
LIFESTYLE               373
COMMUNICATION           366
FINANCE                 360
SPORTS                  351
PHOTOGRAPHY             322
HEALTH_AND_FITNESS      306
SOCIAL                  280
NEWS_AND_MAGAZINES      264
TRAVEL_AND_LOCAL        237
BOOKS_AND_REFERENCE     230
SHOPPING                224
DATING                  196
VIDEO_PLAYERS           175
MAPS_AND_NAVIGATION     137
EDUCATION               130
FOOD_AND_DRINK          124
ENTERTAINMENT           111
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
HOUSE_AND_HOME           80
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: Category, dtype: int64

In [15]:
data[data["Category"]=='1.9']

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [16]:
data.drop(10472,axis=0,inplace=True)

In [17]:
data.iloc[10470:10475]

Empty DataFrame
Columns: [Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [19]:
data["Category"]=le.fit_transform(data["Category"])

In [20]:
data["Category"].value_counts()

11    1943
14    1121
29     843
4      427
20     408
25     407
23     388
18     373
6      366
12     360
28     351
24     322
15     306
27     280
21     264
30     237
3      230
26     224
7      196
31     175
19     137
8      130
13     124
9      111
17      85
1       85
32      82
16      80
0       65
10      64
5       60
22      60
2       53
Name: Category, dtype: int64

In [21]:
data["Rating"].mean()

4.187876743139908

In [22]:
data["Rating"].median()

4.3

In [23]:
data["Rating"].mode()

0    4.4
dtype: float64

In [24]:
data["Rating"].fillna(data["Rating"].mean(),inplace=True)

In [25]:
data.isnull().sum()

Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

In [26]:
data["Reviews"]=data["Reviews"].astype(int)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10357 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10357 non-null  int32
 1   Rating          10357 non-null  float64
 2   Reviews         10357 non-null  int32
 3   Size            10357 non-null  object
 4   Installs        10357 non-null  object
 5   Type            10356 non-null  object
 6   Price           10357 non-null  object
 7   Content Rating  10357 non-null  object
 8   Genres          10357 non-null  object
 9   Last Updated    10357 non-null  object
 10  Current Ver     10349 non-null  object
 11  Android Ver     10355 non-null  object
dtypes: float64(1), int32(2), object(9)
memory usage: 971.0+ KB

In [28]:
data["Size"].value_counts()

Varies with device    1526
11M                    188
13M                    186
12M                    186
14M                    182
                      ...
39k                      1
20k                      1
14k                      1
840k                     1
143k                     1
Name: Size, Length: 461, dtype: int64

In [29]:
data["Size"]=data["Size"].apply(lambda x : x.replace("M","") if x[-1]=="M" else x)

In [30]:
data['Size'] = data['Size'].apply(lambda x: x.replace("k", "00") if x[-1] == 'k' else x)

In [31]:
data["Size"]=data["Size"].apply(lambda x : x.replace("Varies with device","0")if x=="Varies with device" else x)

In [32]:
data["Size"].value_counts()

0        1526
11        188
13        186
12        186
14        182
         ...
87900       1
78200       1
77800       1
59700       1
68300       1
Name: Size, Length: 461, dtype: int64

In [33]:
data["Size"].unique()

array(['19', '14', '8.7', '25', '2.8', '5.6', '29', '33', '3.1', '28',
       '12', '20', '21', '37', '2.7', '5.5', '17', '39', '31', '4.2',
       '7.0', '23', '6.0', '6.1', '4.6', '9.2', '5.2', '11', '24', '0',
       '9.4', '15', '10', '1.2', '26', '8.0', '7.9', '56', '57', '35',
       '54', '20100', '3.6', '5.7', '8.6', '2.4', '27', '2.5', '16',
       '3.4', '8.9', '3.9', '2.9', '38', '32', '5.4', '18', '1.1', '2.2',
       '4.5', '9.8', '52', '9.0', '6.7', '30', '2.6', '7.1', '3.7', '22',
       '7.4', '6.4', '3.2', '8.2', '9.9', '4.9', '9.5', '5.0', '5.9',
       '13', '73', '6.8', '3.5', '4.0', '2.3', '7.2', '2.1', '42', '7.3',
       '9.1', '55', '2300', '6.5', '1.5', '7.5', '51', '41', '48', '8.5',
       '46', '8.3', '4.3', '4.7', '3.3', '40', '7.8', '8.8', '6.6', '5.1',
       '61', '66', '7900', '8.4', '11800', '44', '69500', '1.6', '6.2',
       '1800', '53', '1.4', '3.0', '5.8', '3.8', '9.6', '45', '63', '49',
       '77', '4.4', '4.8', '70', '6.9', '9.3', '10.0', '8.1', '36', '84',
       '97', '2.0', '1.9', '1.8', '5.3', '47', '55600', '52600', '76',
       '7.6', '59', '9.7', '78', '72', '43', '7.7', '6.3', '33400', '34',
       '93', '65', '79', '100', '58', '50', '68', '64', '67', '60', '94',
       '23200', '99', '62400', '95', '8.500', '4100', '29200', '1100',
       '80', '1.7', '74', '62', '69', '75', '98', '85', '82', '96', '87',
       '71', '86', '91', '81', '92', '83', '88', '70400', '86200',
       '89900', '37800', '26600', '37500', '1.3', '97500', '98000', '4.1',
       '89', '69600', '54400', '52500', '92000', '77900', '85300',
       '72000', '71300', '77200', '31800', '5800', '24100', '19600',
       '85700', '5100', '95300', '86500', '25100', '93000', '54000',
       '31300', '74600', '20300', '2600', '31400', '23900', '37100',
       '22000', '73000', '75600', '9100', '29300', '1700', '7400', '1400',
       '31700', '7800', '92400', '90200', '81800', '8100', '93900',
       '16900', '4500', '47500', '96500', '90', '54500', '6100', '28300',
       '65500', '71400', '9300', '87200', '12100', '32200', '1.0',
       '97600', '17200', '23800', '54900', '20600', '95400', '44400',
       '71700', '21000', '60900', '30800', '70500', '30600', '90400',
       '47300', '17500', '35000', '38300', '45400', '42100', '7000',
       '81200', '44200', '84200', '41700', '41200', '45900', '47800',
       '33500', '78200', '72100', '43000', '42900', '19200', '20000',
       '46000', '72800', '49600', '81600', '41400', '50600', '88700',
       '61300', '24300', '56900', '77800', '68300', '59200', '31900',
       '18600', '84000', '64700', '19100', '37300', '43700', '59800',
       '71600', '58500', '98200', '22200', '21900', '5500', '94800',
       '32300', '69100', '51100', '95100', '96300', '2500', '55400',
       '35100', '2700', '8200', '20800', '91300', '51400', '55100',
       '2900', '10300', '89800', '74300', '11600', '15300', '20900',
       '35300', '49900', '17300', '59700', '80900', '12200', '41100',
       '40000', '80100', '78700', '23700', '5000', '64300', '98600',
       '9700', '51600', '83700', '78000', '96100', '26900', '2000',
       '49800', '60000', '74900', '64200', '88100', '7200', '65600',
       '60100', '22100', '22800', '10800', '94000', '17600', '3300',
       '66300', '3400', '94200', '25900', '16400', '45800', '24500',
       '62900', '2800', '28800', '77500', '78500', '63600', '91600',
       '99400', '30900', '48500', '91400', '90300', '60800', '50000',
       '5400', '56200', '84700', '95700', '68800', '81100', '27000',
       '4800', '32900', '52300', '92100', '87400', '98100', '78400',
       '28000', '2400', '51800', '75400', '89200', '15400', '86000',
       '36400', '38700', '62600', '16100', '87900', '3900', '97000',
       '17000', '14100', '16000', '14400', '14300', '19000', '37600',
       '19300', '24600', '7300', '65800', '99200', '25300', '42000',
       '40400', '47000', '22600', '24000', '8900', '23400', '25700',
       '86100', '46700', '15700', '4400', '67600', '6700', '55200',
       '88500', '102000', '58200', '61900'], dtype=object)

In [34]:
data["Size"]=data["Size"].apply(lambda x: float(x))

In [35]:
data["Installs"]=data["Installs"].apply(lambda x: x.replace("+","") if x[-1]=="+" else x)

In [36]:
data["Installs"]=data["Installs"].str.replace(",","")

In [37]:
data["Installs"]=data["Installs"].apply(lambda x: float(x))

In [38]:
data["Installs"]

0           10000.0
1          500000.0
2         5000000.0
3        50000000.0
4          100000.0
            ...
10836        5000.0
10837         100.0
10838        1000.0
10839        1000.0
10840    10000000.0
Name: Installs, Length: 10357, dtype: float64

In [39]:
data["Type"].value_counts()

Free    9591
Paid     765
Name: Type, dtype: int64

In [40]:
data["Type"].fillna('Free',inplace=True)

In [41]:
data.isna().sum()

Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

In [42]:
data["Type"]=le.fit_transform(data["Type"])

In [43]:
data["Price"].value_counts()

0         9592
$0.99      146
$2.99      125
$1.99       73
$4.99       70
          ...
$1.29        1
$79.99       1
$4.84        1
$1.26        1
$2.60        1
Name: Price, Length: 92, dtype: int64

In [44]:
data["Price"]=data["Price"].apply(lambda x: x.replace("$","")  if x[0]=="$" else x)

In [45]:
data["Price"]=data["Price"].apply(lambda x: float(x))

In [46]:
data["Price"].value_counts()

0.00     9592
0.99      146
2.99      125
1.99       73
4.99       70
         ...
1.59        1
46.99       1
19.90       1
28.99       1
1.04        1
Name: Price, Length: 92, dtype: int64

In [47]:
data["Price"].unique()

array([  0.  ,   4.99,   3.99,   6.99,   1.49,   2.99,   7.99,   5.99,
         3.49,   1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,
        24.99,  11.99,  79.99,  16.99,  14.99,   1.  ,  29.99,  12.99,
         2.49,  10.99,   1.5 ,  19.99,  15.99,  33.99,  74.99,  39.99,
         3.95,   4.49,   1.7 ,   8.99,   2.  ,   3.88,  25.99, 399.99,
        17.99, 400.  ,   3.02,   1.76,   4.84,   4.77,   1.61,   2.5 ,
         1.59,   6.49,   1.29,   5.  ,  13.99, 299.99, 379.99,  37.99,
        18.99, 389.99,  19.9 ,   8.49,   1.75,  14.  ,   4.85,  46.99,
       109.99, 154.99,   3.08,   2.59,   4.8 ,   1.96,  19.4 ,   3.9 ,
         4.59,  15.46,   3.04,   4.29,   2.6 ,   3.28,   4.6 ,  28.99,
         2.95,   2.9 ,   1.97, 200.  ,  89.99,   2.56,  30.99,   3.61,
       394.99,   1.26,   1.2 ,   1.04])

In [48]:
data["Content Rating"].value_counts()

Everyone           8382
Teen               1146
Mature 17+          447
Everyone 10+        377
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [49]:
data.replace({'Content Rating':{'Mature 17+':'Everyone'}},inplace=True)

In [50]:
data.replace({'Content Rating':{'Everyone 10+':'Teen'}},inplace=True)

In [51]:
data.replace({'Content Rating':{'Adults only 18+':'Other'}},inplace=True)

In [52]:
data.replace({'Content Rating':{'Unrated':'Other'}},inplace=True)

In [53]:
data["Content Rating"].value_counts()

Everyone    8829
Teen        1523
Other          5
Name: Content Rating, dtype: int64

In [54]:
data["Content Rating"]=le.fit_transform(data["Content Rating"])

In [55]:
data["Genres"].value_counts()

Tools                     842
Entertainment             588
Education                 527
Business                  427
Medical                   408
                         ...
Strategy;Education          1
Puzzle;Education            1
Role Playing;Education      1
Tools;Education             1
Board;Pretend Play          1
Name: Genres, Length: 119, dtype: int64

In [56]:
data_genres=data["Genres"].value_counts()

In [57]:
data_genres_min=data_genres[data_genres<=10]

In [58]:
data_genres_min.count()

58

In [59]:
data["Genres"]=data["Genres"].apply(lambda x: "other" if x in data_genres_min else x)

In [60]:
data["Genres"].value_counts()

Tools                           842
Entertainment                   588
Education                       527
Business                        427
Medical                         408
                               ...
Board;Brain Games                15
Arcade;Action & Adventure        15
Action;Action & Adventure        15
Adventure;Action & Adventure     13
Casual;Brain Games               13
Name: Genres, Length: 62, dtype: int64

In [61]:
data[data["Genres"]=='other'].shape

(166, 12)

In [62]:
data["Genres"]=le.fit_transform(data["Genres"])

#data["Last Updated"]=data["Last Updated"].apply(lambda x: i[-1] for i in x.split(','))

In [63]:
data["Last Updated"]=data["Last Updated"].apply(lambda x: x.split(',')  )

In [64]:
data["Last Updated"]=data["Last Updated"].apply(lambda x: x[-1])

In [65]:
data["Last Updated"]

0         2018
1         2018
2         2018
3         2018
4         2018
         ...
10836     2017
10837     2018
10838     2017
10839     2015
10840     2018
Name: Last Updated, Length: 10357, dtype: object

In [66]:
data["Last Updated"].astype(int)

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
10836    2017
10837    2018
10838    2017
10839    2015
10840    2018
Name: Last Updated, Length: 10357, dtype: int32

In [67]:
data["Android Ver"].value_counts()

4.1 and up            2379
4.0.3 and up          1451
4.0 and up            1337
Varies with device    1221
4.4 and up             894
2.3 and up             643
5.0 and up             546
4.2 and up             387
2.3.3 and up           279
2.2 and up             239
3.0 and up             237
4.3 and up             235
2.1 and up             133
1.6 and up             116
6.0 and up              58
7.0 and up              42
3.2 and up              36
2.0 and up              32
5.1 and up              22
1.5 and up              20
4.4W and up             11
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
5.0 - 8.0                2
1.0 and up               2
4.0.3 - 7.1.1            2
5.0 - 7.1.1              1
5.0 - 6.0                1
7.0 - 7.1.1              1
4.1 - 7.1.1              1
2.2 - 7.1.1              1
Name: Android Ver, dtype: int64

In [68]:
data.isna().sum()

Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

In [69]:
data["Android Ver"]=data["Android Ver"].fillna(data["Android Ver"].mode()[0])

In [70]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: x.split(" "))

In [71]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: x[0])

In [72]:
data["Android Ver"].value_counts()

4.1       2382
4.0.3     1453
4.0       1337
Varies    1221
4.4        894
2.3        643
5.0        550
4.2        387
2.3.3      279
2.2        240
3.0        237
4.3        235
2.1        133
1.6        116
6.0         58
7.0         43
3.2         36
2.0         32
5.1         22
1.5         20
4.4W        11
3.1         10
2.0.1        7
8.0          6
7.1          3
1.0          2
Name: Android Ver, dtype: int64

In [73]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: x.replace("W","") if x[-1]=="W" else x)

In [74]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: x.replace("Varies","4.1") if x=="Varies" else x)

In [75]:
data["Android Ver"].unique()

array(['4.0.3', '4.2', '4.4', '2.3', '3.0', '4.1', '4.0', '2.3.3', '2.2',
       '5.0', '6.0', '1.6', '1.5', '2.1', '7.0', '5.1', '4.3', '2.0',
       '3.2', '7.1', '8.0', '3.1', '2.0.1', '1.0'], dtype=object)

In [76]:
data["Current Ver"].mode()

0    Varies with device
dtype: object

In [77]:
data["Current Ver"].value_counts()

Varies with device    1302
1.0                    802
1.1                    260
1.2                    177
2.0                    149
                      ...
6.6.5                    1
11.7.3.0                 1
1.16.33                  1
5.4 (30)                 1
v1.2                     1
Name: Current Ver, Length: 2831, dtype: int64

In [78]:
data["Current Ver"]=data["Current Ver"].fillna(data["Current Ver"].mode()[0])

In [79]:
data["Current Ver"]=data["Current Ver"].apply(lambda x: x.split())

In [80]:
data["Current Ver"]=data["Current Ver"].apply( lambda x: x[0])

In [81]:
data["Current Ver"]=data["Current Ver"].apply(lambda x: x.replace("Varies","1.0")if x=="Varies" else x)

In [82]:
data["Current Ver"]=data["Current Ver"].apply(lambda x: x[:3])

In [83]:
data_varsion=data["Current Ver"].value_counts()

In [84]:
data_varsion_min=data_varsion[data_varsion<=25]

In [85]:
data_varsion_min

1      25
7.1    25
201    24
5.4    23
4.9    23
       ..
43      1
568     1
Arr     1
T4.     1
IND     1
Name: Current Ver, Length: 242, dtype: int64

In [86]:
data["Current Ver"]=data["Current Ver"].apply(lambda x:"1.1" if x in data_varsion_min else x)

In [87]:
data["Current Ver"].value_counts()

1.0    3058
1.1    1725
1.2     525
2.0     382
1.3     329
2.1     304
1.4     238
3.0     204
1.5     199
3.1     181
2.2     179
1.6     161
2.3     143
1.7     141
1.8     127
4.1     122
2.4     122
4.0     115
1.9     110
3.2      94
2.5      90
5.1      88
4.2      86
2.6      77
5.0      75
3.4      74
3.3      72
2.9      64
5.2      61
6.0      61
3.5      60
4.4      59
2.7      56
6.1      50
2.8      49
4.5      48
5.3      48
10.      48
3.8      47
3.6      46
0.0      44
0.1      42
18.      40
4.3      39
3.9      38
300      38
4.7      36
4.6      36
3.7      34
11.      34
6.2      33
8.0      33
8.2      31
4.8      29
7.0      27
5.9      27
16.      26
7.2      26
6.7      26
Name: Current Ver, dtype: int64

In [88]:
data["Current Ver"].unique()

array(['1.0', '2.0', '1.2', '1.1', '6.1', '2.9', '2.8', '3.8', '3.1',
       '2.2', '4.0', '1.5', '6.0', '6.7', '1.6', '2.1', '1.3', '1.4',
       '11.', '3.0', '1.7', '2.5', '2.4', '1.9', '4.4', '2.3', '10.',
       '3.2', '4.6', '8.0', '3.3', '18.', '5.0', '7.0', '3.9', '3.4',
       '5.2', '3.5', '5.1', '4.1', '3.7', '2.6', '4.3', '4.7', '4.2',
       '1.8', '0.1', '7.2', '4.5', '4.8', '0.0', '3.6', '5.3', '8.2',
       '16.', '6.2', '2.7', '5.9', '300'], dtype=object)

In [89]:
data.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,0,4.1,159,19.0,10000.0,0,0.0,0,6,2018,1.0,4.0.3
1,0,3.9,967,14.0,500000.0,0,0.0,0,61,2018,2.0,4.0.3
2,0,4.7,87510,8.7,5000000.0,0,0.0,0,6,2018,1.2,4.0.3
3,0,4.5,215644,25.0,50000000.0,0,0.0,2,6,2018,1.0,4.2
4,0,4.3,967,2.8,100000.0,0,0.0,0,61,2018,1.1,4.4

In [90]:
data["Current Ver"]=data["Current Ver"].apply(lambda x: float(x))

In [91]:
data["Last Updated"]=data["Last Updated"].apply(lambda x: int(x))

In [92]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10357 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10357 non-null  int32
 1   Rating          10357 non-null  float64
 2   Reviews         10357 non-null  int32
 3   Size            10357 non-null  float64
 4   Installs        10357 non-null  float64
 5   Type            10357 non-null  int32
 6   Price           10357 non-null  float64
 7   Content Rating  10357 non-null  int32
 8   Genres          10357 non-null  int32
 9   Last Updated    10357 non-null  int64
 10  Current Ver     10357 non-null  float64
 11  Android Ver     10357 non-null  object
dtypes: float64(5), int32(5), int64(1), object(1)
memory usage: 849.6+ KB

In [93]:
data["Android Ver"].value_counts()

4.1      3603
4.0.3    1453
4.0      1337
4.4       905
2.3       643
5.0       550
4.2       387
2.3.3     279
2.2       240
3.0       237
4.3       235
2.1       133
1.6       116
6.0        58
7.0        43
3.2        36
2.0        32
5.1        22
1.5        20
3.1        10
2.0.1       7
8.0         6
7.1         3
1.0         2
Name: Android Ver, dtype: int64

In [94]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: x.split('.'))

In [95]:
data["Android Ver"]

0        [4, 0, 3]
1        [4, 0, 3]
2        [4, 0, 3]
3           [4, 2]
4           [4, 4]
           ...
10836       [4, 1]
10837       [4, 1]
10838       [2, 2]
10839       [4, 1]
10840       [4, 1]
Name: Android Ver, Length: 10357, dtype: object

In [96]:
data["Android Ver"].value_counts()

[4, 1]       3603
[4, 0, 3]    1453
[4, 0]       1337
[4, 4]        905
[2, 3]        643
[5, 0]        550
[4, 2]        387
[2, 3, 3]     279
[2, 2]        240
[3, 0]        237
[4, 3]        235
[2, 1]        133
[1, 6]        116
[6, 0]         58
[7, 0]         43
[3, 2]         36
[2, 0]         32
[5, 1]         22
[1, 5]         20
[3, 1]         10
[2, 0, 1]       7
[8, 0]          6
[7, 1]          3
[1, 0]          2
Name: Android Ver, dtype: int64

In [97]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: x[0]+'.'+x[1])

In [98]:
data["Android Ver"].value_counts()

4.1    3603
4.0    2790
2.3     922
4.4     905
5.0     550
4.2     387
2.2     240
3.0     237
4.3     235
2.1     133
1.6     116
6.0      58
7.0      43
2.0      39
3.2      36
5.1      22
1.5      20
3.1      10
8.0       6
7.1       3
1.0       2
Name: Android Ver, dtype: int64

In [99]:
data["Android Ver"]=data["Android Ver"].apply(lambda x: float(x))

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10357 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        10357 non-null  int32
 1   Rating          10357 non-null  float64
 2   Reviews         10357 non-null  int32
 3   Size            10357 non-null  float64
 4   Installs        10357 non-null  float64
 5   Type            10357 non-null  int32
 6   Price           10357 non-null  float64
 7   Content Rating  10357 non-null  int32
 8   Genres          10357 non-null  int32
 9   Last Updated    10357 non-null  int64
 10  Current Ver     10357 non-null  float64
 11  Android Ver     10357 non-null  float64
dtypes: float64(6), int32(5), int64(1)
memory usage: 849.6 KB